body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#bord {
    display: inline-block;
    height: 880px;
    width: 880px;
    list-style-type: none;
    position: relative;
    margin: 35px 100px 0;
}

#bord>li {
    float: left;
    height: 110px;
    position: relative;
    width: 110px;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#bord>li>div {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}